venv/
.idea/
NULL
dgit.bat
IW/__pycache__/
IselWinner/__pycache__/
register/__pycache__/
rgit.bat
__pycache__/
register/migrations/__pycache__/
IW/migrations/
IW/user_info/
.env
IselWinner/iwdatabase.sql
test.py
media/