#container {
    border-radius: 25px;
    width: 60%;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: var(--shadow1);
    display: inline-flex;
}

#container-esq {
    width: 50%;
    /*float: left;*/
    border-radius: 25px 0 0 25px;
    padding: 10%;
    /*width: 100%;*/
    background-color: var(--form-color1);
}

#container-dir {
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 50%;
    border-radius: 0 25px 25px 0;
    /*float: right;*/
    background-color: var(--form-color2);
}

.wrap {
    position: relative;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    /*margin:auto;*/
    transform: translate(-50%, -50%);
}

.wrap form {
    /*margin: 30%;*/
    padding-left: 10%;
    padding-right: 10%;

}


#container-create-tournament {
    border-radius: 25px;
    background-color: var(--form-color1);
    width: 60%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

#container-create-tournament-esq {
    width: 25%;
    float: left;
    padding-top: 7%;
    padding-bottom: 10%;
    padding-left: 15%;
}

#container-create-tournament-dir {
    width: 75%;
    float: right;
    padding: 7% 15% 10% 7%;
}

#container-create-top {
    float: top;
    padding-top: 5%;
}

#container-create-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: auto;
}

#form-title {
    margin: 0 0 5%;
    color: white;
    font-size: 4vmax;

    text-align: center
}

#logo {
    /*display: flex;*/
    /*padding-left: 27%;*/
    /*padding-right: 27%;*/
    /*padding-top: 25%;*/
    /*height: 50%;*/
    text-align: center;
}

#iselgg {
    height: 50%;
    /*padding-left: 5vw;*/
    /*padding-right: 5vw;*/
    padding-top: 5%;
    font-size: 5vmax;
    text-align: center;
}

#iselgg span {
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;

}

#footer-info {
    font-size: 1vw;
    color: white;
    text-align: center;
    padding-top: 20px
}

#form-description {
    color: var(--font-color);
    font-size: 1vmax;
    text-align: center
}

#id_username, #id_password, #id_password1, #id_password2, #id_email, #id_confirmation_code,
#id_tournament_name, #id_description, #id_visibility, #id_game, #id_max_players, #id_start_date,
#id_image, #id_game_name, #id_code_name, #id_game_file, #id_author {
    font-family: var(--font);
    background-color: var(--winner-input-color);
    color: var(--font-color);
    border-radius: 10px;
}

#id_description {
    padding-bottom: 4%;
}

#id_username ::placeholder {
    color: black;
}


#submit-button {
    background-color: #e84545;
    color: white;
    border-radius: 25px;
    margin: 10% auto;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 1000px) {
    #container-dir {
        display: none;
    }

    #container-esq {
        width: 100%;
        padding: 20%;

        border-radius: 25px
    }

    #container {
        width: 70%;
    }

    #footer-info {
        font-size: 20px;
    }

    #form-title {
        font-size: 5vmax;
    }

    #form-description {
        font-size: 2vmax;
    }
}
@media screen and (max-width: 550px) {

    body{

        background-color: #100d20;
        background-image: linear-gradient(160deg, #100000 0%, #211c36 100%);
    }
    #container{
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    #container-esq {
        border-radius:0
    }
}
