body{
    background-color: var(--light-bg) none;
}
#navbar .item {
    margin: 0;
    color: #fbfbfb;
    font-size: large;
    padding-left: 12px;
}

#navbar #site-name {
    font-size: x-large;
}

#navbar #site-name #second-part {
    color: #E84545
}

#navbar #site-name-span{
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#navbar #site-name-span:hover{
    background-color: var(--light-bg);
}


#navbar {
    z-index: 6;
    padding: 4;
    margin: 0;
    background-color: #130F26;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    position: relative;
    position: sticky;
    width: 100%;
}

#navbar #tourn-name {
    width: 100%;
    display: flex;
    justify-content: center;

}

#navbar .right .input {
    padding: 0px;
    height: 30px;
}

#navbar .right form  {
    padding: 5px;
}

#navbar div {
    color: #fbfbfb;
}

#navbar .right input {
    color: #fbfbfb;
    font-family: "Contrail One", serif;
    background-color: #57536A;
    border-radius: 10px;
}

#navbar .right .input button {
    color: #fbfbfb;
    background-color: #302C43;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
}

#navbar .right .input button svg {
}

@media screen and (max-width: 550px) {
#site-name-span{
    display: none;
}
}
