{% extends 'form.html' %}

{% block title %}
    Email Confirmation
{% endblock %}

{% block form-title %}
    Confirm Email
{% endblock %}


{% block form-description %}
    <p id="form-description">We sent an email to {{ user.email }}</p>
    <p id="form-description"><u>You must confirm to access all functionalities</u></p>
{% endblock %}

{% block button-text %}
    Confirm
{% endblock %}

{% block footer-info %}
    <p id="footer-info"> Didn't get the email? <a href="/register">Resend</a></p>
{% endblock %}

{% block extra %}
    {#    <a href="/">#}
    <form action="/tournaments/">
        <button id="normal-button" type="submit" class="ui inverted button">Continue to Website</button>
    </form>
    {% if message != "" %}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                {{ message }}
            </div>
        </div>
    {% endif %}
    {#    </a>#}
{% endblock %}