{% extends 'IW/base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Create New Tournament
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    {% include "IW/navbar.html" %}
    <div id="container-create-tournament">
        <div id="container-create-top">
            <p id="form-title">Create a Tournament</p>
        </div>
        <div id="container-create-tournament-dir">
            <form enctype="multipart/form-data" action="" id="form" method="POST" class="ui form">
                {% csrf_token %}
                {{ form|crispy }}
                <button id="submit-button" type="submit" class="ui button">Create</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.9/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.9/jquery.datetimepicker.full.min.js" integrity="sha512-hDFt+089A+EmzZS6n/urree+gmentY36d9flHQ5ChfiRjEJJKFSsl1HqyEOS5qz7jjbMZ0JU4u/x1qe211534g==" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{% static 'css/dtsel.css' %}"/>
    <script src="{% static 'js/dtsel.js' %}"></script>
    <script>

        instance = new dtsel.DTS('input[name="start_date"]', {
            showDate: true,
            showTime: true,
            paddingX: 0,
            paddingY: 0
        });
    </script>
    <script>
        $('#id_visibility').change(function () {
            if (this.value === 'PUB') {
                $('#password').css("display", "none");
                $('#div_id_password').css("display", "none");
                $('#id_password').prop('required', false);
            } else {
                $('#password').css("display", "block");
                $('#div_id_password').css("display", "block");
                $('#id_password').prop('required', true);
            }
        })

        $(function () {
            $("#id_game").change();
        });

        $('#id_game').change(function () {
            let val = $("#id_game").val();
            switch (val.substr(val.length - 1)) {
                case "S":
                    $("#id_max_players option").not(':first-child').each(function () {
                        $(this).prop('disabled', true);
                    });
                    $("#id_max_players option:first").prop('disabled', false);
                    $('select[name="max_players"]').val('unlimited');
                    break
                case "D":
                    $("#id_max_players option").not(':first-child').each(function () {
                        $(this).prop('disabled', false);
                    });
                    $("#id_max_players option:first").prop('disabled', true);
                    $('select[name="max_players"]').val('2');
                    break
            }
        })
    </script>

    <script>
        var campos = ['Name', 'Game', 'Visibility', 'Password', "Max Players", "Start Date", "Image", "Description"];
        var ids = ['#div_id_tournament_name', '#div_id_game', '#div_id_visibility', '#div_id_password', '#div_id_max_players', '#div_id_start_date', '#div_id_cover_art', '#div_id_description'];

        let i;
        for (i = 0; i < campos.length; i++) {
            let p = document.createElement("span");
            p.setAttribute("id", "campos")
            let text = document.createTextNode(campos[i]);
            p.appendChild(text);
            let element = $(ids[i]);
            element.prepend(p);
        }

        var x = document.getElementsByTagName("select");
        for (i = 0; i < x.length; i++) {
        }

    </script>
{% endblock %}