{% extends 'IW/base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Upload Game
{% endblock %}
{% load crispy_forms_tags %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    {% include "IW/navbar.html" %}
    <div id="container-create-tournament">
        <!-- create tournament, campos para name, game(dropdown), pass, visibility, max_players, date, description, imagem, href tournaments -->
        <div id="container-create-top">
            <p id="form-title">Upload a Game</p>
        </div>
        <div id="container-create-tournament-dir">
            <form id="form" method="POST" class="ui form">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            <button id="submit-button" form="form" type="submit" class="ui button" >Upload</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var campos = ['Game Name', 'Game File', 'Game Play', 'Author'];
        var ids = ['#div_id_game_name', '#div_id_game_file', '#div_id_game_play', '#div_id_author'];

        for (i = 0; i < campos.length; i++) {
            let p = document.createElement("p");
            p.setAttribute("id", "campos")
            let text = document.createTextNode(campos[i]);
            p.appendChild(text);
            let element = $(ids[i]);
            element.prepend(p);
        }
    </script>
{% endblock %}