{% extends 'IW/base.html' %}
{% load static %}

{% block title %}
    Tournaments List
{% endblock %}

{% block nav %}

    {% include "IW/navbar.html" %}
{% endblock %}

{% block content %}
    <h1 style=" margin-top: 2%;margin-bottom: 3%;text-align: center;font-size: 45px">Tournaments List</h1>

    <div style="justify-content: center" class="ui container fitted link special  cards">
        {#            <div style="justify-content: center" class="ui container three doubling special cards">#}
        {% if not ts %}
            <div style="margin-top: 10%">No tournaments yet. Try again later</div>
        {% endif %}
        {% for t in ts %}
            <div id="t-card" class="card">
                <div id="t-dimmer" class=" dimmable image">
                    <div id="dimmer" class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div id="results-button" onclick="window.location='/tournament/{{ t.code }}'"
                                     class="ui inverted button">See Results
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if t.cover_art != "" %}
                        <img src="{% get_media_prefix %}{{ t.cover_art }}" alt="">
                    {% else %}
                        <img src="{% static 'images/default_image.png' %}" alt="">
                    {% endif %}
                </div>
                <div id="t-card-content" class="t-card-content content ">
                    <div class="header">
                       <span>
                           {#TODO Arranjar as cores#}
                           {% if t.state == 0 %}
                               <i class="status-icon-red circle icon"></i>
                           {% elif t.state == 'ST' %}
                               <i class="status-icon-green circle icon"></i>
                           {% elif t.state == 'OP' %}
                               <i class="status-icon-yellow circle icon"></i>
                           {% else %}

                               <i class="status-icon-grey circle icon"></i>
                           {% endif %}
                       </span>
                        <span>{{ t.name }}</span>
                    </div>
                </div>
                <div class="ui fitted divider"></div>
                <div id="t-card-content" class="extra content">
                  <span style="margin-top: 28px" class="t-card-date">
                      {{ t.start_date.date }}
                  </span>
                    <span style="float: right" class="t-card-owner">
                        <i class="icon universal access"></i>
                         {{ t.admin_id }}
      </span>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
