{% extends 'IW/base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/bracket.css' %}">
    <style>
        body {
            background: #211C36 none;
        }
    </style>
{% endblock %}
{% block title %}
    Tournament
{% endblock %}

{% block nav %}
    {% include "IW/navbar.html" %}
{% endblock %}

{% block content %}
    {% if error %}
        <div id="error_message">{{ error_message }} <br><br>
            <button onclick="window.location='/'" class="ui inverted button">
                <i class="left arrow icon"></i>
                Back to Tournaments List
            </button>

        </div>
    {% else %}
        <div style=";display: flex;overflow: auto; height: calc(100vh - 40px);">
            <div id="sidebar">
                <div id="mycard" class="ui card">
                    <div id="t_image" style="" class="image">
                        {% if t.cover_art != "" %}
                            <img src="{% get_media_prefix %}{{ t.cover_art }}" alt="">
                        {% else %}
                            <img src="{% static 'images/default_image.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="content" style="padding: 0; border-color:#130F26">
                        <div class="description">
                            <table class="ui celled unstackable very compact table">
                                <tbody>
                                <tr>
                                    <td><i class=" ui white qrcode icon"></i></td>
                                    <td>{{ t.code }}</td>
                                </tr>
                                <tr>
                                    <td><i class=" ui white globe icon"></i></td>
                                    <td>{{ t.visibility }}</td>
                                </tr>
                                <tr>
                                    <td><i class=" ui white calendar alternate outline icon"></i></td>
                                    <td>{{ t.start_date }}</td>
                                </tr>
                                <tr>
                                    <td><i class=" ui white user icon"></i></td>
                                    <td>{{ owner }}</td>
                                </tr>
                                <tr>
                                    <td><i class=" ui white gamepad icon"></i></td>
                                    <td>{{ game.name }}</td>
                                </tr>
                                <tr>
                                    <td><i class=" ui white users icon"></i></td>
                                    <td>{{ player_count }} / {{ max_players }}</td>
                                </tr>
                                <tr>
                                    <td><i class=" ui white align justify icon"></i></td>
                                    <td>
                                        {{ t.description| default_if_none:"" }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center">
                                {% if state == "EN" %}
                                    <button id="menu-button"
                                            class=" ui inverted large disabled gray  button">Closed
                                    </button>
                                {% elif state == "ST" %}
                                    <button id="menu-button"
                                            class=" ui inverted large disabled gray  button">In Progress
                                    </button>
                                {% endif %}

                                {% if user.confirmationcode.validated  and state != "EN" and state != "ST" %}
                                    {% if state == "OP" %}
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            {% if not already_enrolled %}
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    <button id="menu-button"
                                                            class=" ui inverted large red button"> Enroll
                                                    </button>
                                                    <input type="hidden" id="current-state" name="current-state"
                                                           value="Enroll">
                                                </form>
                                            {% else %}
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    <button id="menu-button"
                                                            class=" ui inverted large red button"> Cancel Enroll
                                                    </button>
                                                    <input type="hidden" id="current-state" name="current-state"
                                                           value="CancelEnroll">
                                                </form>
                                            {% endif %}

                                        </form>
                                    {% elif state == "CL" %}
                                        <button id="menu-button"
                                                class=" ui inverted large disabled gray  button">Waiting to Start
                                        </button>
                                    {% endif %}
                                    {% if user.id == owner.id %}
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            <button type="submit" id="menu-button"
                                                    class=" ui inverted large white button">Edit
                                            </button>
                                            <input type="hidden" id="current-state" name="current-state" value="Edit">
                                        </form>
                                        {% if state == 'PL' %}
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <button id="menu-button"
                                                        class=" ui inverted large green button">Open Enrollments
                                                </button>
                                                <input type="hidden" id="current-state" name="current-state" value="OP">
                                            </form>
                                        {% elif state == 'OP' %}
                                            <button id="menu-button"
                                                    class=" ui inverted large disabled gray  button">Waiting For Players
                                            </button>
                                        {% endif %}
                                        {% if state == 'CL' or t_type == 'SOLO' and player_count >= 2 %}
                                            <form method="POST" action="">
                                                {% csrf_token %}
                                                <button id="menu-button"
                                                        class=" ui inverted large  green  button">Start
                                                </button>
                                                <input type="hidden" id="current-state" name="current-state"
                                                       value="ST">
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if state == 'ST' %}
                <div style=" flex: 0 0 100px">
                    <div
                            style="width: max-content; padding-right: 0; float: left; overflow-x:visible "
                            class="my_gracket"
                    ></div>
                </div>
            {% elif state != 'ST' %}
                <div id="error_message2">This tournament hasn't started yet.</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $('.context.example.ui.sidebar')
            .sidebar({
                context: $('.context.example .bottom.segment'),
                dimPage: false
            })
            .sidebar('attach events', '.context.example .menu .item');
    </script>

    <script type="text/javascript" src="{% static '/js/jquery.gracket.js' %}"></script>

    {% if state == 'ST' %}
        <script type="text/javascript">
            (function (win, doc, $) {
                win.Data = [
                    {% for round in matches %}
                        [
                            {% for match in round %}
                                [
                                    {% for participant in match %}
                                        {
                                            name: "{{ participant.0 }}",
                                            score: "{{ participant.1 }}",
                                            seed: 1
                                        },
                                    {% endfor %}
                                ],

                            {% endfor %}
                        ],
                    {% endfor %}
                    [[
                        {
                            name: "{{ winner | default_if_none:'' }}",
                            score: "",
                        }
                    ],
                    ],
                ];
                $(".my_gracket").gracket({src: win.Data});
            })(window, document, jQuery);
        </script>
        <script>
            var all = $(".team_div").filter(function () {
                var h3 = $(this).find('h3');
                var div = $(h3).find('div')
                return $.trim(div.text()) === "";
            }).get();
            all.map(
                x => {
                    color = "#241F3878"
                    score_div = x.getElementsByClassName("score_div")[0]
                    x.style.backgroundColor =  color
                    score_div.style.backgroundColor = color
                }
            )

        </script>
    {% endif %}
    {% if t_type == "SOLO" %}
        <style>
            .g_round .g_winner {
                margin-top: 0 !important;
                padding-top: 0;
            }
        </style>
    {% endif %}
{% endblock %}
